.main-content {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100vh;
  padding: 1rem;
  gap: 2rem;
  box-sizing: border-box;
}

.text-content-wrapper {
  position: relative;
  width: 100%;
}

.text-content,
.text-content-up {
  position: absolute;
  left: 20%;
  top: 10%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 40rem;
  min-height: 20rem;
  padding: 2rem;
  margin: auto;
}

.text-content-up {
  z-index: 2;
}

.text-content > * {
  opacity: 0;
  pointer-events: none;
}

.text-content p {
  margin-top: 0.8rem;
}

.about-me-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 1;
}

.text-content,
.text-content-up {
  h2 {
    font-size: 3rem;
    color: var(--color-white);
    margin-bottom: 0.2rem;
  }
}

.text-content,
.text-content-up {
  h3 {
    font-size: 1.5rem;
    color: var(--color-white);
    margin-bottom: 0.2rem;
    margin-top: 1rem;
  }
}

.buttons-container {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
  gap: 1rem;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 1rem;
  z-index: 1;
}

.header h1 {
  font-size: 3.5rem;
  color: var(--color-white);
  margin-top: 5%;
  margin-left: 0.5rem;
}

.header h2 {
  font-size: 1.2rem;
  color: var(--color-light);
  margin-top: 2%;
  margin-left: 0.5rem;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  width: 100%;
  height: 350px;
}

.avatar {
  width: 100%;
  height: auto;
  border: 1.5px solid var(--color-white);
  opacity: 0.95;
  display: block;
  object-fit: cover;
  box-shadow: 0 0 5px var(--color-tertiary), 0 0 10px var(--color-tertiary),
    0 0 20px var(--color-tertiary), 0 0 40px var(--color-tertiary);
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem;
  height: 15rem;
  margin-left: 10%;
  margin-top: 5%;
}

.line-separator {
  display: block;
  width: 80%;
  height: 0.2rem;
  background-color: white;
  margin: 0 1rem;
}

.x {
  width: 100%;
  height: 100%;
}

.mobile-scroll {
  overflow: auto;
  max-height: 8rem;
  margin-top: 0.5rem;
}

@media (max-width: 1440px) {
  .avatar-container {
    margin-top: -10%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .main-content {
    display: flex;
    flex-direction: column;
    height: 80%;
  }

  .avatar-container {
    max-width: 250px;
    height: 250px;
  }
}

@media (max-width: 1024px) {
  .main-content {
    display: flex;
    flex-direction: column;
    height: 80%;
  }
}

@media (max-width: 430px) {
  .main-content {
    padding: 0;
  }

  .text-content,
  .text-content-up {
    left: 10%;
  }

  .avatar-container {
    margin-top: -35%;
  }
}

@media (max-width: 390px) {
  .text-content,
  .text-content-up {
    left: 5%;
  }
}

@media (max-width: 360px) {
  .avatar-container {
    margin-top: -20%;
  }

  .avatar-container {
    max-width: 200px;
    height: 200px;
  }
}
