.film-bar-animation {
  left: 0;
  flex: 0.75;
  background-color: black;
  z-index: -1;
  pointer-events: none;

  mask-image: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent 30px,
    black 30px,
    black 70px
  );
  -webkit-mask-image: repeating-linear-gradient(
    to right,
    transparent 0,
    transparent 30px,
    black 30px,
    black 70px
  );

  mask-repeat: repeat;
  mask-size: 70px 100%;
  -webkit-mask-repeat: repeat;
  -webkit-mask-size: 70px 100%;

  animation: scroll-mask 4s linear infinite;
}

.fast-animation {
  animation: scroll-mask 0.2s linear infinite;
}

@keyframes scroll-mask {
  0% {
    mask-position: 0 0;
    -webkit-mask-position: 0 0;
  }
  100% {
    mask-position: 70px 0;
    -webkit-mask-position: 70px 0;
  }
}

.film-bar {
  position: fixed;
  width: 100vw;
  height: 80vh;
  left: 0;
  z-index: -1;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.film-bar.top {
  top: -68vh;
  transition: transform 0.5s ease;
}

.film-bar.bottom {
  bottom: -68vh;
  transition: transform 0.5s ease;
}

.black-bar {
  background-color: black;
  flex: 25;
  height: 100%;
}

.black-bar-last {
  background-color: black;
  flex: 0.5;
  height: 100%;
}

.black-bar-first {
  position: relative;
  background-color: black;
}

.film-bar.top.film-bars-skills,
.film-bar.bottom.film-bars-skills {
  transition: transform 0.5s ease;
}

.film-bar.top.film-bars-skills {
  transform: rotate(-45deg) translateX(-700px) translateY(-450px);
}

.film-bar.bottom.film-bars-skills {
  transform: rotate(-45deg) translateX(700px) translateY(450px);
}

.film-bar.top.film-bars-projects {
  transform: rotate(-90deg) translateX(-700px) translateY(-1100px);
}

.film-bar.bottom.film-bars-projects {
  transform: rotate(-90deg) translateX(700px) translateY(1100px);
}

@media (min-width: 3440px) {
  .film-bar.top.film-bars-projects {
    transform: rotate(-90deg) translateX(-700px) translateY(-1400px);
  }

  .film-bar.bottom.film-bars-projects {
    transform: rotate(-90deg) translateX(700px) translateY(1400px);
  }

  .black-bar {
    flex: 30;
  }
}

@media (min-width: 2560px) {
  .black-bar {
    flex: 24;
  }
}

@media (max-width: 1440px) {
  .film-bar.top.film-bars-projects {
    transform: rotate(-90deg) translateX(-700px) translateY(-900px);
  }

  .film-bar.bottom.film-bars-projects {
    transform: rotate(-90deg) translateX(700px) translateY(900px);
  }
}

@media (max-width: 1024px) {
  .film-bar.top.film-bars-projects {
    transform: rotate(-90deg) translateX(-700px) translateY(-750px);
  }

  .film-bar.bottom.film-bars-projects {
    transform: rotate(-90deg) translateX(700px) translateY(750px);
  }

  .film-bar.top.film-bars-skills {
    transform: rotate(-45deg) translateX(-700px) translateY(-300px);
  }

  .film-bar.bottom.film-bars-skills {
    transform: rotate(-45deg) translateX(700px) translateY(300px);
  }
}

@media (max-width: 768px) {
  .film-bar.top.film-bars-skills {
    transform: rotate(-45deg) translateX(-500px) translateY(-200px);
  }

  button {
    font-size: 1.1rem;
  }
}

@media (max-width: 425px) {
  .film-bar.top.film-bars-skills {
    transform: rotate(-45deg) translateX(-400px) translateY(-200px);
  }

  button {
    font-size: 1.1rem;
  }
}

@media (max-width: 375px) {
  .film-bar.top.film-bars-skills {
    transform: rotate(-45deg) translateX(-300px) translateY(-200px);
  }
}
