@keyframes pulse {
  0% {
    box-shadow: 0 0 5px #FFD600;
  }
  50% {
    box-shadow: 0 0 15px #FFD600;
  }
  100% {
    box-shadow: 0 0 5px #FFD600;
  }
}

.light-bar {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: start;
}

.light {
  width: 20px;
  height: 20px;
  background-color: #333;
  box-shadow: inset 0 0 5px #000;
  transition: background-color 0.3s, transform 0.3s;
}

@keyframes popIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.light.active {
  background-color: #FFD600;
  animation: pulse 1.5s infinite, popIn 0.3s ease-out;
  box-shadow: 0 0 15px #FFD600;
}