.projects-main-content {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.projects-container,
.projects-container-up {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 10rem;
  left: 30rem;
  width: 100%;
  max-width: 50rem;
  padding: 1.5rem;
}

.projects-container-up {
  z-index: 2;
}

.projects-container > * {
  opacity: 0;
  pointer-events: none;
}

.projects-main-content img {
  max-width: 80%;
  margin-top: 1rem;
  opacity: 0.95;
  border: 1.5px solid var(--color-white);
  display: block;
  z-index: 2;
  box-shadow: 0 0 5px var(--color-tertiary), 0 0 10px var(--color-tertiary),
    0 0 20px var(--color-tertiary), 0 0 40px var(--color-tertiary);
}

.link-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.pagination-buttons {
  grid-column: 1 / 1;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.left-button {
  position: absolute;
  transform: rotate(90deg);
  z-index: 44;
  margin-right: 70rem;
}

.right-button {
  position: absolute;
  transform: rotate(-90deg);
  z-index: 44;
  margin-left: 50rem;
}

@media (min-width: 2560px) {
  .projects-container,
  .projects-container-up {
    left: 50rem;
    top: 15rem;
  }
}

@media (min-width: 3440px) {
  .projects-container,
  .projects-container-up {
    left: 77rem;
    top: 22rem;
  }
}

@media (max-width: 1440px) {
  .projects-container,
  .projects-container-up {
    left: 30rem;
    top: 20rem;
  }
}

@media (max-width: 1024px) {
  .projects-container,
  .projects-container-up {
    left: 21rem;
    top: 22rem;
  }
}

@media (max-width: 768px) {
  .projects-container,
  .projects-container-up {
    left: 18rem;
    top: 28rem;
  }
}

@media (max-width: 425px) {
  .projects-container,
  .projects-container-up {
    left: 2rem;
    top: 28rem;
    padding: 0;
    font-size: 1.5rem;
  }

  .left-button {
    position: absolute;
    transform: none;
    z-index: 44;
    margin-top: 40rem;
    margin-right: 10rem;
  }

  .right-button {
    position: absolute;
    transform: none;
    z-index: 44;
    margin-top: 40rem;
    margin-left: 14rem;
  }
}

@media (max-width: 375px) {
  .projects-container,
  .projects-container-up {
    left: 0rem;
    top: 28rem;
    padding: 0;
    font-size: 1.5rem;
  }
}
