.skills-main {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100vh;
  margin: 4rem;
  gap: 1rem;
}

.skills-main li {
  list-style-type: none;
  padding-left: 0;
}

.skills-container,
.skills-container-up {
  position: absolute;
  top: 1rem;
  right: 25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem;
}

.skills-container-up {
  z-index: 2;
}

.skills-container > * {
  opacity: 0;
  pointer-events: none;
}

.skills-buttons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.skills-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  gap: 2rem;
}

.skills-titles {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
}

.skills-bars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 3440px) {
  .skills-container,
  .skills-container-up {
    top: 7rem;
    right: 60rem;
  }
}

@media (min-width: 2560px) {
  .skills-container,
  .skills-container-up {
    top: 3rem;
    right: 45rem;
  }
}

@media (max-width: 1440px) {
  .skills-container,
  .skills-container-up {
    top: 4rem;
    right: 16rem;
  }
}

@media (max-width: 1024px) {
  .skills-container,
  .skills-container-up {
    top: 10rem;
    right: 12rem;
  }
}

@media (max-width: 768px) {
  .skills-container,
  .skills-container-up {
    top: 15rem;
    right: 8rem;
  }
}

@media (max-width: 425px) {
  .skills-container,
  .skills-container-up {
    top: 10rem;
    right: 2rem;
  }
}

@media (max-width: 375px) {
  .skills-container,
  .skills-container-up {
    top: 10rem;
    right: 0.5rem;
  }
}

@media (max-width: 320px) {
  .skills-container,
  .skills-container-up {
    top: 13rem;
    right: 0rem;
  }
}
